main{
    height: 25vh;
    
}
.mainmain {
    background-color: #E5A9A9;
    border: 2px solid #b47d7d; 
}

.main1 {
    padding: 1%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

input {
    margin: 5px 0 !important;
    padding: 5px !important;
}
button {
    margin: 5px 0 !important;
    padding: 5px !important;
}
.login {
    border-color: black !important;
    color: white !important;
    text-shadow: 
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black !important;
}
.create {
    border-color: black !important;
    color: white !important;
    text-shadow: 
                -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black !important;
}

.bordered-box {
    border: 2px solid #628daf;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #9EC5E5;
    display: inline-block;
}

.main2 {
    padding: 1%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

footer {
    height: 40vh;
    background-color: #9EC5E5;
    padding: 50px;
    border: 2px solid #628daf;
    justify-content: center;
    text-align: center;
    align-items: center;
}
