

main {
    display:grid;
    grid-template-columns: 2fr 1fr;
    background-color: #E5A9A9;
    height: 50vh;
}

.section1 {
    flex: 2;
    background-color: #E5A9A9;
    padding: 20px;
    background-image: url(handhold2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 {
    flex: 1;
    padding: 20px;
    background-image: url(marryabook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


body {
    box-sizing: border-box;
    height: 100vh
}

footer {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #9EC5E5;
    border: 2px solid #628daf;
    height: 500 px;
}
.botton {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.custom-btn {
    background-color: #E5A9A9;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    width: 75%
}
.github {
    height: 50px;
    display: flex;
    background-color: #628daf;
    justify-content: center;
    align-items: center;
}