

main {
    display:grid;
    grid-template-columns: 2fr 1fr;
    background-color: #E5A9A9;
    height: 50vh;
}

.section1 {
    flex: 2;
    background-color: #E5A9A9;
    padding: 20px;
    background-image: url(handhold2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section2 {
    flex: 1;
    padding: 20px;
    background-image: url(marryabook.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


body {
    box-sizing: border-box;
}