
body {
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9EC5E5;
    height: 100px;
    width: 100%;
}

main {
    background-color: #E5A9A9;
}