

main {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic {
    padding-top: 10px;
}

.bordered-box {
    border: 2px solid #628daf;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #9EC5E5;
    display: inline-block;
}